FileVersion = 1
Dependencies = {corlib = "*", MQTTCommon = "*"}

[Project]
Name = "MQTTCompanion"
TargetType = "BeefGUIApplication"
StartupObject = "MQTTCompanion.Program"

[Configs.Debug.Win64]
TargetDirectory = "$(WorkspaceDir)/../dist"
TargetName = "$(ProjectName)_d"
LibPaths = ["runtimeobject.lib", "Ole32.lib", "User32.lib", "Advapi32.lib", "uuid.lib"]

[Configs.Release.Win64]
TargetDirectory = "$(WorkspaceDir)/../dist"
LibPaths = ["runtimeobject.lib", "Ole32.lib", "User32.lib", "Advapi32.lib", "uuid.lib"]

[Configs.Paranoid.Win64]
TargetDirectory = "$(WorkspaceDir)/dist"
LibPaths = ["runtimeobject.lib", "Ole32.lib", "User32.lib", "Advapi32.lib", "uuid.lib"]

[Configs.Test.Win64]
TargetDirectory = "$(WorkspaceDir)/dist"
LibPaths = ["runtimeobject.lib", "Ole32.lib", "User32.lib", "Advapi32.lib", "uuid.lib"]
